* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: 'lato',sans-serif;
}


body{
    background: url(../pictures/darkblack.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}
    

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px; 
    background: rgba(255,255,255, .5);
    opacity: 1.2;
    border: 2px 0px solid rgba(255,255,255, .5);
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 99;
   
}

.pic{
    height:70px;
    padding-left: 60px;
    padding-right: 0;
    padding-top: 12px;
  
}

.IMG{
  border-radius: 100px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2px;
    margin-right: 80px;
    gap: 2px;

}

nav a.active:before{
    position:absolute;
    content: " ";
    width:50%;
    height: 3px;
    border-bottom: 3px solid black;
    border-radius: 5px;
    bottom:-6px;
    
}
.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom:-6px;
    width:50%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform:scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform:scaleX(1);
    transform-origin: left;
}



.heading{
    
    margin-bottom: 0px ;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
   
}

.heading h1{
    font-size: 50px;
    margin-top:8%;
    color: white;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: auto;
    background-color: #4caf50;
}


.heading p{
    font-size: 18px;
    /* color:#666; */
    color: whitesmoke;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex:1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    /* color: #333; */
    color: white ;
    text-decoration: underline;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    /* color: #666; */
    color: whitesmoke ;
    margin-bottom: 6%;
    
}


 .read-more{
    display: inline;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s ease;


}

.about-content .read-more:hover{
   background-color: #3e8e41;
}


#ch{
    display:none;
}

label{
    display:inline-block;
    cursor: pointer;
}

.content{
    display: none;
}

#ch:checked ~ .content{
    display: block;
}


#ch:checked ~ label{
    display: none;
}
/* resizing for different screen sizes*/


@media only screen and (max-width: 768px) {
  header {
    padding: 0px 5px;
  }
  
  .navigation a {
    margin-right: 40px;
  }

  .about {
    flex-direction: column;
  }

  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .about-content {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .pic {
    padding-left: 20px;
    padding-top: 7px;
  }

  .navigation a {
    margin-right: 20px;
    font-size: 0.9em;
  }

  .about-image img {
    transform-origin: center;
    transition: transform 0.5s;
  }

  .about-image:hover img {
    transform: scale(1.1);
  }

  .about-content h2 {
    font-size: 20px;
  }

  .about-content p {
    font-size: 16px;
  }

  .read-more {
    padding: 8px 16px;
    font-size: 16px;
  }
}