* {

    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'lato',sans-serif;
}

body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../pictures/back.jpg) no-repeat;
    /* background: #659dbd; */
    background-size: cover;
} 
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px; 
    background: rgba(255,255,255, .5);
    opacity: 0.9;
    border: 2px 0px solid rgba(255,255,255, .5);
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 99;
}

.pic{
    height:70px;
    padding-left: 60px;
    padding-right: 0;
    padding-top: 12px;
  
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2px;
    margin-right: 70px;
}

nav a.active:before{
    position:absolute;
    content: " ";
    width:50%;
    height: 3px;
    border-bottom: 3px solid black;
    border-radius: 5px;
    bottom:-6px;
    
}
.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom:-6px;
    width:50%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform:scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform:scaleX(1);
    transform-origin: left;
}


main{
    margin-top: 6em;
}

/* col part */

.col{
  display: grid;
  height: 600px;
  gap:4em;
  grid-template-columns: repeat(2,500px)  ;     /*the same with (auto, auto);*/
  justify-content: center;
    
  
}

.offical{
    
    border-radius: .8em;
    padding: 1.1em;
     display: flex;
    align-items: end;
    background-size: cover;
    background-repeat: no-repeat; 
}

.offical1{
    background-image: url('../pictures/Taker.jpg');
}

.offical2{
    background-image: url('../pictures/handler.jpg');
}

.offical3{
    background-image: url('../pictures/subcitypolice.jpg');
}

.offical4{
    background-image: url('../pictures/admin.jpg');
}

.officaldetail{
    background: white;
    border-radius: .6em;
    padding:0.5em;
    width: 100%;
    
    align-items: center;

}

.officaldetail a {
    color:black;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;

}

.officaldetail p {
     font-size: 1rem;
     margin: 0 ;
    

}


/* microintractions */


.handlertitle:hover, .takertitle:hover, .subcitytitle:hover, .Admintitle:hover{
 
    
    opacity:0.4;
    text-decoration: underline;
}

